/* website title style */
.search-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.website-title{
    font-size: var(--large-title-size);
    font-weight: var(--bold);
}

.website-title-container{
    border-radius: 40px;
    padding: 28px 63px;
    background-color: var(--secondary-color);
}

/* searchbar style */
.search-form{
    display: flex;
    width: 720px;
    height: 72px;
    min-width: 360px;
    max-width: 720px;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 28px;
    padding: 0 10px;
}

.searchbar{
    width: 100%;
    height: 70%;
    font-size: 24px;
    border: unset;
    background-color: unset;
    outline: none;
}

/* cards styles */
.cards-title-container{
    margin-right: 12px;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: var(--text-size);
    font-weight: var(--bold);
    margin: 28px 0 18px 0;
}

.doctors-cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-radius: 50px;
}

.most-popular-doctors-cards-container{
    background-color: var(--primary-color);
}

.newest-doctors-cards-container{
    background-color: var(--secondary-color);
}

.newest-doctors{
    margin-top: 160px;
    margin-bottom: 100px;
}

.card{
    background-color: var(--white-color);
    width: 320px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.right-card{
    position: relative;
    left: 20px;
}

.left-card{
    position: relative;
    right: 20px;
}

.circles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 37px;
}

.doctors-name{
    font-size: var(--small-title-size);
    font-weight: var(--bold);
}

.experties{
    font-size: var(--body-size);
    font-weight: var(--regular);
}

.making-appointment-btn{
    cursor: pointer;
    width: 150px;
    padding: 8px 22px;
    font-size: var(--small-title-size);
    font-weight: var(--bold);
    color: var(--black);
    border: none;
    border-radius: 4px;
    background-color: var(--tertiary-color);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
}

/* tracking part */
.tracking-part-container{
    background-image: url(./img/medical-health-blue-cross-neon-260nw-1931158001\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 80px 0;
}

.tracking-part-title{
    font-size: var(--small-title-size);
    font-weight: var(--bold);
    background-color: var(--tertiary-color);
    padding: 20px 30px;
    width: fit-content;
    border-radius: 50px;
}

.healthcare-img{
    margin-left: 150px;
}

.tracking-form{
    border-radius: 50px;
    height: 200px;
    margin-left: 185px;
    padding: 50px 20px;
    background-color: var(--background-color);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

.tracking-form-container{
    display: flex;
    align-items: center;
}

.id-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.id-label{
    font-size: var(--small-title-size);
    font-weight: var(--bold);
}

.id-input{
    border: 1px solid var(--black);
    width: 300px;
    font-size: var(--small-title-size);
    border-radius: 210px;
    padding: 5px 15px;
    direction: ltr;
    font-family: 'Nazanin';
}

::placeholder { /* firefox */
    color: var(--gray);
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--gray);
}

.tracking-submit-btn{
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
    font-size: var(--small-title-size);
    font-weight: var(--bold);
    background-color: var(--tertiary-color);
    border-radius: 20px;
    border: none;
    width: 140px;
    padding: 5px 10px;
    cursor: pointer;
}